<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       {% if title  %}
        <title>{{title}}</title>
    {%else%}
     <title>default</title>
     {%endif%}

    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#">Latests Posts</a></li>
        <li><a href="#">Calendars</a></li>
        <li><a href="/about">About</a></li>

        {% if current_user.is_authenticated %}  
        <li style="float:right"><a  href="/logout">Log Out</a></li>
        <li style="float:right"><a  href="/account">Account Page</a></li>
        <li style="float:right"><a  href="{{ url_for('new_post') }}">New Post</a></li>

        {% else %}
        <li style="float:right"><a  href="/register">Register</a></li>
        <li style="float:right"><a  href="/login">Log In</a></li>
        {% endif %}
    </ul>

    

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages %}

            <ul class=flashes>
                {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>

            {%endif%}

        {%endwith%}

        {% block content %}
        {% endblock%}
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

